*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-056e7e: #056e7e;
  --color-088395: #088395;
  --color-05BFDB: #05BFDB;
  --color-0a7c8e: #0a7c8e;
  --color-ff9100: #ff9100;
  --color-e7e7e9:#e7e7e9;
  --color-ededed:#ededed;
  --color-777777:#777777;
  --color-1c1c1b:#1c1c1b;
  --color-131921:#131921;
}

.section-headingP{
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

.card-wrapper{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

body{
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}


.gap-10{
  gap: 10px;
}

.gap-15{
  gap: 15px;
}

.gap-30{
  gap: 30px;
}

.button{
 background-color: var(--color-056e7e);
 color: white;
 font-size: 14px;
 padding: 13px 33px;
 border-radius: 25px;
}

.button:hover{
  background-color: var(--color-05BFDB);
  color: black;
}

/* Header Part */

.header-top-strip{
  border-bottom: 1px solid var(--color-05BFDB);
  background-color: var(--color-056e7e);
}

.header-upper{
  background-color: var(--color-088395);
}

.header-bottom{
  background-color: var(--color-0a7c8e);
}

.header-upper .input-group-text{
  background-color: var(--color-05BFDB);
}

.header-upper.header-upper-links img{
  width: 35px;
  height: 35px;
}

.header-bottom .menu-links a, .header-bottom .dropdown button{
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus{
  box-shadow: none;
}

.header-bottom .dropdown-menu{
  background-color: var(--color-088395);
  width: 100%;
}

.dropdown-menu{
  transform: translate(0px, 57px) !important;
}

.header-bottom .dropdown-item{
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--color-05BFDB);
}

.header-bottom .dropdown-item:hover{
  background-color: transparent;
  color: var(--color-05BFDB) !important;
}

/* Header Part End Here*/

/* Footer Part*/

footer{
  background-color: var(--color-088395);
}

footer:not(:first-child){
  border-top: 1px solid var(--color-05BFDB);
}

footer .input-group-text{
  background-color: var(--color-05BFDB);
  color: white;
  padding: 8px 17px !important;
}

/* Footer Part Ends Here*/

/* Home Page */

.main-banner-content{
  top: 10%;
  left: 5%;
}

.main-banner-content h4{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-ff9100);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5{
  font-size: 42px;
  line-height: 54px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p{
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.small-banner-content{
  top: 25%;
  left: 10%;
}

.small-banner-content h4{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-ff9100);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5{
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p{
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.small-banner{
  width: 49%;
}

/* Home wrapper 2 */

.home-wrapper-2{
  background-color: var(--color-e7e7e9);
}

/* Home wrapper 2  Ends */

/* Categories Section */

.categories{
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.categories > div{
  width: 24%;
  padding: 10px 10px 10px 20px;
}

.categories > div > div{
  width: 60%;
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4){
  border-bottom: 1px solid var(--color-ededed);
}

.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3){
  border-right: 1px solid var(--color-ededed);
}

.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7){
  border-right: 1px solid var(--color-ededed);

}

/* Categories Section  End*/

/* Home Page Ends Here*/


/* Blog Part*/

.blog-card{
  background-color: white;
  border-radius: 10px;
}

.blog-card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content{
  padding: 15px;
}

.blog-content.date{
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
}

.blog-content h5{
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content p.desc{
  font-size: 13;
  line-height: 22px;
  color: var(--color-777777);
}
/* Blog Part Ends Here*/

/* Product Card */

.product-card{
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.product-card .product-image{
  height: 270px;
}

.product-card .product-image img{
  object-fit: contain;
}

.product-card .product-image > img:last-child{
  display: none;
}

.product-card:hover .product-image > img:nth-child(1){
  display: none;
}

.product-card:hover .product-image > img:last-child{
  display: block;
}

.product-card:hover .action-bar{
  right: 15px;
}

.product-card h6, .prduct-details h6{
  color: var(--color-ff9100);
  font-size: 13px;
}

.product-card h5, .prduct-details h5{
  font-size: 15px;
  color: var(--color-1c1c1b);
}

.product-card p, .prduct-details p{
  font-size: 16px;
  color: var(--color-1c1c1b);
}

.action-bar{
  top: 10%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon{
  top: 2%;
  right: 15px;
}
/* Product Card Ends Here*/

/* Special Product Card */

.special-product-card{
  	padding: 20px 10px;
    border-radius: 10px;
    background-color: white;
}


/* Special Product Card Ends Here*/
