*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-05a5be: #05a5be;
  --color-05BFDB: #05BFDB;
  --color-6937af: #6937af;
}

body{
  font-family: 'Rubik', sans-serif;
}

a{
  text-decoration: none;
  display: inline-block;
}

/* Header Part */

.header-top-strip{
  border-bottom: 1px solid var(--color-05BFDB);
  background-color: var(--color-05a5be);
}

.header-uper{
  background-color: var(--color-05BFDB);
}

.header-uper .input-group-text{
  background-color: var(--color-6937af);
}

/* Header Part End Here*/